body{
    margin: 0;
    padding: 0;
}

#structure {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 80vh;
    width: calc(100% - 100px);
    margin-top: 10vh;
    margin-left: 50px;

    
    
}

#containerHome {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    margin-right: 50px;
    background-color: rgb(230, 230, 230);
}